/* 
/* CSS 
--cotton-candy: hsla(315, 100%, 90%, 1);
--mauve: hsla(291, 87%, 88%, 1);
--mauve-2: hsla(284, 94%, 86%, 1);
--mauve-3: hsla(280, 97%, 85%, 1);
--mauve-4: hsla(278, 100%, 84%, 1);
--mauve-5: hsla(277, 100%, 83%, 1);
--mauve-6: hsla(266, 100%, 87%, 1);
--lavender-blue: hsla(239, 100%, 91%, 1);
--uranian-blue: hsla(206, 100%, 89%, 1);
--celeste: hsla(182, 100%, 88%, 1);

/* SCSS HEX */
$cotton-candy: #ffcbf2ff;
$mauve: #f3c4fbff;
$mauve-2: #ecbcfdff;
$mauve-3: #e5b3feff;
$mauve-4: #e2afffff;
$mauve-5: #deaaffff;
$mauve-6: #d8bbffff;
$lavender-blue: #d0d1ffff;
$uranian-blue: #c8e7ffff;
$celeste: #c0fdffff;

/* SCSS HSL */
$cotton-candy: hsla(315, 100%, 90%, 1);
$mauve: hsla(291, 87%, 88%, 1);
$mauve-2: hsla(284, 94%, 86%, 1);
$mauve-3: hsla(280, 97%, 85%, 1);
$mauve-4: hsla(278, 100%, 84%, 1);
$mauve-5: hsla(277, 100%, 83%, 1);
$mauve-6: hsla(266, 100%, 87%, 1);
$lavender-blue: hsla(239, 100%, 91%, 1);
$uranian-blue: hsla(206, 100%, 89%, 1);
$celeste: hsla(182, 100%, 88%, 1);

/* SCSS RGB */
$cotton-candy: rgba(255, 203, 242, 1);
$mauve: rgba(243, 196, 251, 1);
$mauve-2: rgba(236, 188, 253, 1);
$mauve-3: rgba(229, 179, 254, 1);
$mauve-4: rgba(226, 175, 255, 1);
$mauve-5: rgba(222, 170, 255, 1);
$mauve-6: rgba(216, 187, 255, 1);
$lavender-blue: rgba(208, 209, 255, 1);
$uranian-blue: rgba(200, 231, 255, 1);
$celeste: rgba(192, 253, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #ffcbf2ff,
  #f3c4fbff,
  #ecbcfdff,
  #e5b3feff,
  #e2afffff,
  #deaaffff,
  #d8bbffff,
  #d0d1ffff,
  #c8e7ffff,
  #c0fdffff
);
$gradient-right: linear-gradient(
  90deg,
  #ffcbf2ff,
  #f3c4fbff,
  #ecbcfdff,
  #e5b3feff,
  #e2afffff,
  #deaaffff,
  #d8bbffff,
  #d0d1ffff,
  #c8e7ffff,
  #c0fdffff
);
$gradient-bottom: linear-gradient(
  180deg,
  #ffcbf2ff,
  #f3c4fbff,
  #ecbcfdff,
  #e5b3feff,
  #e2afffff,
  #deaaffff,
  #d8bbffff,
  #d0d1ffff,
  #c8e7ffff,
  #c0fdffff
);
$gradient-left: linear-gradient(
  270deg,
  #ffcbf2ff,
  #f3c4fbff,
  #ecbcfdff,
  #e5b3feff,
  #e2afffff,
  #deaaffff,
  #d8bbffff,
  #d0d1ffff,
  #c8e7ffff,
  #c0fdffff
);
$gradient-top-right: linear-gradient(
  45deg,
  #ffcbf2ff,
  #f3c4fbff,
  #ecbcfdff,
  #e5b3feff,
  #e2afffff,
  #deaaffff,
  #d8bbffff,
  #d0d1ffff,
  #c8e7ffff,
  #c0fdffff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #ffcbf2ff,
  #f3c4fbff,
  #ecbcfdff,
  #e5b3feff,
  #e2afffff,
  #deaaffff,
  #d8bbffff,
  #d0d1ffff,
  #c8e7ffff,
  #c0fdffff
);
$gradient-top-left: linear-gradient(
  225deg,
  #ffcbf2ff,
  #f3c4fbff,
  #ecbcfdff,
  #e5b3feff,
  #e2afffff,
  #deaaffff,
  #d8bbffff,
  #d0d1ffff,
  #c8e7ffff,
  #c0fdffff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #ffcbf2ff,
  #f3c4fbff,
  #ecbcfdff,
  #e5b3feff,
  #e2afffff,
  #deaaffff,
  #d8bbffff,
  #d0d1ffff,
  #c8e7ffff,
  #c0fdffff
);
$gradient-radial: radial-gradient(
  #ffcbf2ff,
  #f3c4fbff,
  #ecbcfdff,
  #e5b3feff,
  #e2afffff,
  #deaaffff,
  #d8bbffff,
  #d0d1ffff,
  #c8e7ffff,
  #c0fdffff
);
