:root {
  width: 100%;
  background-color: #b7ece2;
}

.nav {
  width: 100%;
  padding: 2%;
  background: darkcyan;
}

ul {
  display: flex;
  list-style: none;
}

div > li {
  margin: 0px 20px;
}

.link {
  margin: 10px 20px;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:visited {
  color: black;
}

.container {
  padding: 2%;
}

.userInfo {
  display: flex;
  position: absolute;
  right: 5%;
}

.sessionButton {
  background: #094646 !important;
  color: white !important;
}

.sessionButton > span {
  margin-left: 0px !important;
}
